body{
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    background-attachment: fixed;
}

div{
    margin: 5px;
}

.TextBox{
    width: 20px;
    text-align: center;
    border: 1px solid;
    border-color: gold;
    border-radius: 10px;
}

.Button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;

}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;

}

.calc-button:hover{
    background-color: inherit;

}

.Button:active{
    background-color: #ffef78;
}

