.task-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  min-height: 80vh;
  border-radius: 30px;
  flex-wrap: wrap;
  gap: 1;
  min-width: 300px;
  width: 70%;
  max-height: 550px;
  overflow: auto;
  margin-right: 20px;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #616161;
  overflow-y: hidden;
}